spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 35MB
  data:
    mongodb:
      uri: mongodb://localhost:27017/facilityflow
      auto-index-creation: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: YOUR_GOOGLE_CLIENT_ID
            client-secret: YOUR_GOOGLE_CLIENT_SECRET
            scope:
              - email
              - profile

jwt:
  # Secret key for JWT signing (Min 32 characters for HS256)
  secret: "YOUR_SECURE_JWT_SECRET_HERE"
  expiration: 86400000 # 1 day in ms

server:
  port: 8092

logging:
  level:
    org.mongodb.driver: WARN
    org.springframework.security: WARN
    com.smartcampus: DEBUG

cloudinary:
  cloud-name: YOUR_CLOUDINARY_NAME
  api-key: YOUR_CLOUDINARY_KEY
  api-secret: YOUR_CLOUDINARY_SECRET
  upload-preset: YOUR_CLOUDINARY_PRESET
